<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Update Subject</title>
</head>
<body>
    <div class="container card mt-4 align-items-center">
        <div class="card-body d-flex flex-row justify-content-between ">
            <form  method="POST" action="/changepassword" id="changepass">
                        <div class="row">
                            <table class="table" style="border: none;">
                                <tbody>
                                    <tr>
                                        <td><label for="">Current Password:</label></td>
                                        <td>
                                            <input type="text" class="form-control" id="old_password" name="old_password" required placeholder="Enter your current password">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="">New Password :</label></td>
                                        <td><input type="text" class="form-control" id="new_password" name="new_password" required placeholder="Enter new password">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    <button type="submit"  class="btn btn-primary m-1" style="float: right;">CHANGE</button>
                    {% if role == 'ADMIN' %}
                    <button type="button" class="btn btn-danger m-1" onclick="window.location.href='/admin/home';" style="float: right;">BACK</button>
                    {% elif role == 'TEACHER' %}
                    <button type="button" class="btn btn-danger m-1" onclick="window.location.href='/teacher';" style="float: right;">BACK</button>
                    {% endif %}
                    </form>
                </div>
                {% if invalid == True %}
                    <label style="color: crimson;">Your entered password doesn't match</label>
                {% endif %}
                </div>
                
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
             
</body>